body{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 3/8 4/8 1/8;

    background-color: #16101C;
    color: #FFFFFF;
    font-family: 'Anek Devanagari', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0%;
}

#topbox{
    grid-row: 1/2;
    grid-column: 1/4;

    background-image: url("./img/csgoskins.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 55vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    display: flex;
    flex-direction: row;
    padding-right:1.5vw;
}

#goose1{
    height: 4vw;
    margin: auto;
}

h1, h6{
    font-size: 2vw;
}

.h-del1{
    color: #FF86DD;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#nav-left, #nav-right{
    display: flex;
    flex-direction: row;
    font-size: 0.9vw;
}

#nav-left{
    width: 50vw;
}

#searchbar, #cart{
    margin-top: 1.9vw;
}

#searchbar{
    max-height: 3vw;
    margin-right: 1vw;
}

#cart{
    max-height: 3vw;
    max-width: 3vw;
    margin-right: 1.9vw;
}

#lower-topbox{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: flex-end;
}

#cs-logo{
    max-height: 10vw;
    padding: 1.9vw;
}

#login, #favorites{
    margin-bottom: 1.4vw;
}

#login{
    max-height: 3vw;
    margin-right: 1vw;  
}

#favorites{
    max-height: 3vw;
    margin-right: 1.9vw;
}

.litenpil{
    height: 0.5vw;
    max-height: 0.5vw;
    width: 0.7vw;
    max-width: 0.7vw;
    align-self: center;
    padding-bottom: 0.4vw;
    padding-right: 1.2vw;
}

.nav-val{
    margin:auto;
}

main{
    display: flex;
    flex-direction: column;
    grid-row: 2/3;
    grid-column: 2/3;
    margin: auto;
    padding: 2vw;
    margin-bottom: 3vw;
}

aside{
    border-radius: 90px;
    border: solid #110D13;
    background-color: #110D13;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 4vw;
}

.items-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1vw;
}

.item-image{
    width: 9.4vw;
    height: 7vw;
}

.rosapil{
    height:4vw;
    max-height: 4vw;
    width: 1vw;
    max-width: 1vw;
    margin:auto;
}

#article-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

article{
    display: flex;
    flex-direction: column;
    background-color:  #110D13;
    width: 10vw;
    margin: 0.2vw;
    padding: 1vw;
    justify-content: space-evenly;
}

#pinkcart{
    max-height: 5vw;
    max-width: 5vw;
    height: 2vw;
    width: 2vw;
    margin-left:auto;
}

.article-image{
    width: 9.4vw;
    height: 7vw;

}

.bredpil{
    height:4vw;
    max-height: 4vw;
    width: 1vw;
    max-width: 1vw;
    margin:auto;
}

h3{
    margin-bottom: 0.4vw;
    font-size: 1.3vw;
    font-weight: lighter;
}

h4{
    margin-bottom: 0.4vw;
    font-size: 1.2vw;
    font-weight: lighter;
}

h5{
    color: #FF86DD;
    font-weight: 1000;
    font-size: 1.5vw;
    margin-top: 1vw;
    margin-bottom: 0vw;
}

.typ, .item-namn{
    font-size: 1vw;
    font-weight: lighter;
}

.namn, h7{
    font-size: 1.2vw;
    font-weight: bolder;
    margin: 0%;
}

.wear, .info-text{
    font-size: 1.2vw;
    margin: 0%;
    font-weight:100;
}

footer{
    grid-row: 3/4;
    grid-column: 1/4;
    background-color:  #110D13;
    margin: 0%;
    padding-bottom: 3vw;

    display:flex;
    flex-direction: row;

    justify-content: space-between;
}

#logo-box{
    display:flex;
    flex-direction: column;
    padding-left: 3vw;

    align-items: center;
}

#title-box{
    display: flex;
    flex-direction: row;
}

h6{
    margin-bottom:0%;
    padding-bottom:0%;
}

#logo-img{
    height: 12vw;
    margin-top:0%;
    padding-top:0%;
}

#info-box{
    display:flex;
    flex-direction: row;

    padding-right:5vw;
    padding-top:2vw;
}

h7{
    margin-bottom: 2vw;
}

.info-text{
    margin-bottom: 0.5vw;
}

.info{
    display: flex;
    flex-direction: column;

    padding:2vw;
}





/* Tablett */
@media only screen and (min-width: 641px) and (max-width: 1007px) {

}

/* Mobile */
@media only screen and (max-width: 640px) {

}