body{
    display: grid;
    grid-template-columns: 10% 50% 30% 10%;
    grid-template-rows: 3/8 4/8 1/8;

    background-color: #16101C;
    color: #FFFFFF;
    font-family: 'Anek Devanagari', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0%;
    letter-spacing: 0.08vw;
}

h2, #searchbar, .litenpil, #cart, #login, #favorites, .rosapil, .pinkcart, .bredpil, #kundvagn-pil{
    cursor: pointer;
}

.pinkcart:hover, .bredpil:hover, litenpil:hover, #cart:hover, #favorites:hover, #login:hover, .rosapil:hover, #kundvagn-pil:hover{
    filter: brightness(80%) drop-shadow(0 0 0.2vw rgba(51, 27, 54, 0.459));

}

#topbox{
    grid-row: 1/2;
    grid-column: 1/5;

    background-image: url("./img/csgoskins.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 55vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    display: flex;
    flex-direction: row;
    padding-right:1.5vw;
}

#goose1{
    height: 4vw;
    margin: auto;
}

h1, h6{
    font-size: 2vw;
}

.h-del1{
    color: #FF86DD;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#nav-left, #nav-right{
    display: flex;
    flex-direction: row;
    font-size: 0.9vw;
}

#nav-left{
    width: 50vw;
}

#searchbar, #cart{
    margin-top: 1.9vw;
}

#searchbar{
    max-height: 3vw;
    margin-right: 1vw;
}

#cart{
    height: 3vw;
    width: 3vw;
    margin-right: 1.9vw;

}

#lower-topbox{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: flex-end;
}

#cs-logo{
    max-height: 10vw;
    padding: 1.9vw;
}

#login, #favorites{
    margin-bottom: 1.4vw;
}

#login{
    height: 3vw;
    margin-right: 1vw;  
}

#favorites{
    height: 3vw;
    margin-right: 1.9vw;

}


.litenpil{
    height: 0.5vw;
    max-height: 0.5vw;
    width: 0.7vw;
    max-width: 0.7vw;
    align-self: center;
    padding-bottom: 0.4vw;
    padding-right: 1.2vw;
}

h2{
    margin:auto;
}

main{
    display: flex;
    flex-direction: column;
    grid-row: 2/3;
    grid-column: 2/4;
    margin: auto;
    padding: 2vw;
    margin-bottom: 3vw;
}

aside{
    border-radius: 90px;
    border: solid #110D13;
    background-color: #110D13;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 4vw;
}

.items-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1vw;
}

.item-image{
    width: 9.4vw;
    height: 7vw;
}

.item-image:hover{
    filter: drop-shadow(0 0 0.5vw rgba(149, 40, 114, 0.623));
}

.rosapil{
    height:4vw;
    max-height: 4vw;
    width: 1vw;
    max-width: 1vw;
    margin:auto;
}

#article-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

article:hover{
    filter: drop-shadow(0 0 0.2vw rgba(149, 40, 115, 0.459));
}

article{
    display: flex;
    flex-direction: column;
    background-color:  #110D13;
    width: 10vw;
    margin: 0.2vw;
    padding: 1vw;
    justify-content: space-evenly;
}

.pinkcart{

    height: 2vw;
    width: 2vw;
    margin-left:auto;
}

.article-image{
    width: 9.4vw;
    height: 7vw;
    filter: drop-shadow(0 0 0.2vw rgba(21, 11, 22, 0.459));
}

.article-image:hover{
    cursor: pointer;
}
.bredpil{
    height:4vw;
    width: 1vw;
    margin:auto;
}

h3{
    margin-bottom: 0.4vw;
    font-size: 1.3vw;
    font-weight: lighter;
}

h4{
    margin-bottom: 0.4vw;
    font-size: 1.2vw;
    font-weight: lighter;
}

h5{
    color: #FF86DD;
    font-weight: 1000;
    font-size: 1.5vw;
    margin-top: 1vw;
    margin-bottom: 0vw;
}

.typ, .item-namn{
    font-size: 1vw;
    font-weight: lighter;
}

.namn, h7{
    font-size: 1.2vw;
    font-weight: bolder;
    margin: 0%;
}

.wear, .info-text{
    font-size: 1.2vw;
    margin: 0%;
    font-weight:100;
}

footer{
    grid-row: 3/4;
    grid-column: 1/5;
    background-color:  #110D13;
    margin: 0%;
    padding-bottom: 3vw;

    display:flex;
    flex-direction: row;

    justify-content: space-between;
}

#logo-box{
    display:flex;
    flex-direction: column;
    padding-left: 2vw;

    align-items: center;
}

#title-box{
    display: flex;
    flex-direction: row;
}

h6{
    margin-bottom:0%;
    padding-bottom:0%;
}

#logo-img{
    height: 12vw;
    margin-top:0%;
    padding-top:0%;
}

#info-box{
    display:flex;
    flex-direction: row;

    padding-right:5vw;
    padding-top:2vw;
}

h7{
    margin-bottom: 2vw;
}

.info-text{
    margin-bottom: 0.5vw;
}

.info{
    display: flex;
    flex-direction: column;
    padding:2vw;
}

/* Kundvagn CSS*/ 
#kundvagn{
    background-color: #2f0b29;
    width: 25vw;
    display: grid;
    grid-template-rows: 5vw 1fr 10vw;
    position: fixed;
    inset: 0 0 0 auto; 
}

#kundvagn-top{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin: 2vw;
    margin-left: 1vw;
    margin-bottom: 0%;
}

#kundvagn-pil{
    height: 1vw;
    width: 1vw;
    margin-right:2vw;
    margin-left: 1vw;
}

#kundvagn-titel{
    margin: 0%;
    margin-top: 0.3vw;

}

#divKundvagn{
    padding: 2vw;
    overflow: auto;
}

#tömKundvagn{
    position: absolute;
    background-color:#22071e;
    bottom: 0;
    right:0;
    width: 100%;
    border: none;
    color:#FFFFFF;
    padding: 1.5vw;
    cursor:pointer;
    letter-spacing: 0.2vw;
}

.produktIKundvagn{
    
}

/* Tablett */
@media only screen and (min-width: 641px) and (max-width: 1007px) {
    body{
        display: grid;
        grid-template-columns: 10% 50% 30% 10%;
        grid-template-rows: 3/8 4/8 1/8;
    }

    #goose1{
        display:none;
    }

    header{
        margin-left: 2vw;
    }

    h1{
        font-size: 2.4vw;
    }

    h2{
        font-size: 2.2vw;
        margin-right: 0.4vw;
    }

    h3{
        display:none;
    }

    #searchbar, #cart{
        margin-top: 2.4vw;
        height: 3.5vw;
    }

    #cart{
        width: 3.5vw;
    }

    #login, #favorites{
        height: 4vw;
    }

    #favorites{
        width: 4vw;
    }

    aside{
        display:none;
    }

    .nonedisplay-tablet{
        display:none;
    }

    article{
        width: 20vw;
        margin: 0.5vw;
    }

    .article-image{
        width: 19vw;
        height: 13vw;
    }

    .pinkcart{
        max-height:5vw;
        max-width: 5vw;
        height: 4.5vw;
        width: 4.5vw;
    }

    h4{
        font-size: 1.7vw;
    }

    h5{
        font-size: 3.5vw;
    }

    .typ{
        font-size: 1.5vw;
    }

    .namn, .wear{
        font-size: 2vw;
    }

    .bredpil{
        height: 5vw;
        width:1.2vw;
    }

    #info-box{
        margin:auto;

        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr;

        margin-top: 4vw;

    }

    h6{
        display:none;
    }

    h7, .info-text{
        font-size: 3.5vw;
        padding-left: 9vw;
    }

    #logo-box{
        display:none;
        padding:0%;
    }

}

/* Mobile */
@media only screen and (max-width: 640px) {
    body{
        display: grid;
        grid-template-columns: 10% 50% 30% 10%;
        grid-template-rows: 3/8 4/8 1/8;
    }

    #goose1{
        display:none;
    }

    header{
        margin-left: 4vw;
    }

    h1{
        font-size: 4vw;
    }

    h2{
        font-size: 3vw;
        margin-left: 3.3vw;
    }

    h3{
        display:none;
    }

    .litenpil{
        display:none;
    }

    #searchbar{
        display:none;
    }

    #cart{
        margin-top: 3.5vw;
        height: 5vw;
        width: 5vw;
        margin-right: 3.5vw;
    }

    #cs-logo{
        display:none;
    }

    #lower-right{
        margin-left: auto;
    }

    #login, #favorites{
        height: 5vw;
    }

    #favorites{
        width: 5vw;
    }

    aside{
        display:none;
    }

    .nonedisplay-tablet, .nonedisplay-mobil{
        display:none;
    }

    article{
        width: 50vw;
        margin: 0.5vw;
        padding-bottom: 5vw;
    }

    .article-image{
        width: 45vw;
        height: 31vw;
        margin:auto;
    }

    .pinkcart{
        height: 7vw;
        width: 7vw;
        padding: 2vw;
    }

    h4{
        font-size: 3vw;
    }

    h5{
        font-size: 8vw;
    }

    .typ{
        font-size: 3vw;
    }

    .namn, .wear{
        font-size: 4vw;
    }

    h5,.typ,.namn,.wear{
        margin-left: 2vw;
    }


    .bredpil{
        height: 16vw;
        width: 3vw;
        margin-left: 2vw;
    }

    #info-box{

        display:flex;
        flex-direction: column;
        margin-top: 4vw;
        margin-left: 18vw;

    }

    h6{
        display:none;
    }

    h7, .info-text{
        font-size: 5vw;
    }

    h7{
        margin-top: 10vw;

    }

    #logo-box{
        display:none;
        padding:0%;
    }


}

