body{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 3/8 4/8 1/8;

    background-color: #16101C;
    color: #FFFFFF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#topbox{
    grid-row: 1/2;
    grid-column: 1/4;
    background-image: url("./img/csgoskins.webp");
}

header{
    display: flex;
    flex-direction: row;
}

h1{
    font-size: 2vw;
}

#h1-del1{
    color: #FF86DD;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.9vw;
}

.nav-val{
}

main{
    display: flex;
    flex-direction: column;
    grid-row: 2/3;
    grid-column: 2/3;
    margin: auto;
}

#article-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

article{
    display: flex;
    flex-direction: column;
    background-color:  #110D13;
    width: 10vw
}

h5{
    color: #FF86DD;
    font-weight: bold;
}

.typ{
    font-size: 0.3vw;
}

.namn{
    font-size: 0.5vw;
    font-weight: bold;
}

.wear{
    font-size: 0.5vw;
}

/* Tablett */
@media only screen and (min-width: 641px) and (max-width: 1007px) {

}

/* Desktop */
@media only screen and (min-width: 1008px) {

}